body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #388E3C;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

#map {
    height: 60vh; /* Ajustar altura do mapa */
    border: 2px solid #4CAF50;
    border-radius: 8px;
    margin-bottom: 20px;
}

#report-container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}

td {
    text-align: left;
    vertical-align: middle;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.fa-truck {
    margin-right: 10px;
}

footer {
    background-color: #111;
    padding: 50px 0 20px 0; /* Adicionei um padding-bottom de 20px */
    color: #fff;
    text-align: center; /* Garante que o texto do copyright fique centralizado */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
    text-align: center;
}

.footer-section h3 {
    font-size: 1.2em;
    color: #e33a3a;
    margin-bottom: 15px;
    font-family: 'Dosis', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #e33a3a;
}

.footer-section .logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-section p {
    margin: 10px 0;
    font-size: 0.9em;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    color: #e33a3a;
}

/* Ícones de Redes Sociais */
.footer-section .contact p i, 
.footer-section .social ul li i {
    margin-right: 8px;
}

.footer-section .social ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .social ul li i {
    color: #e33a3a;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }
}
