body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
#map {
    height: 60vh; /* Ajustar altura do mapa */
}
#report-container {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}
