<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoramento de Veículos</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <h1><i class="fas fa-truck"></i> Monitoramento de Veículos</h1>
    </header>
    <main>
        <div id="map"></div>
        <div id="report-container">
            <h2>Relatório de Veículos e Abastecimentos</h2>
            <table id="report-table">
                <thead>
                    <tr>
                        <th>Placa</th>
                        <th>Data/Hora</th>
                        <th>Hodômetro</th>
                        <th>Ponto de Venda</th>
                        <th>Localização</th>
                        <th>Produto</th>
                        <th>Quantidade Abastecida</th>
                        <th>Valor Unitário (R$)</th>
                        <th>Faturamento Total (R$)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Conteúdo gerado pelo JavaScript -->
                </tbody>
            </table>
        </div>
    </main>
    <footer>
    <div class="footer-container">
        <div class="footer-section logo">
                <p>Copyright © 2024 Lucas Henrique</p>
            </div>

            <div class="footer-section social">
                <h3>Social Networks</h3>
                <ul>
                    <li><a href="https://www.instagram.com/lucasdsbarros/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/lucas-h-barros/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/Lucshb" target="_blank">Github</a></li>
                </ul>
            </div>

            <div class="footer-section contact">
                <h3>Contact</h3>
                <p><i class="fas fa-phone"></i> Phone: (19) 99263-0596</p>
                <p><i class="fas fa-envelope"></i> Email: <a href="mailto:barroslucash@gmail.com">barroslucash@gmail.com</a></p>
            </div>
        </div>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>
