<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoramento de Veículos</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <h1><i class="fas fa-truck"></i> Monitoramento de Veículos</h1>
    </header>
    <main>
        <div id="map"></div>
        <div id="report-container">
            <h2>Relatório de Veículos e Abastecimentos</h2>
            <table id="report-table">
                <thead>
                    <tr>
                        <th>Placa</th>
                        <th>Data/Hora</th>
                        <th>Hodômetro</th>
                        <th>Ponto de Venda</th>
                        <th>Localização</th>
                        <th>Produto</th>
                        <th>Quantidade Abastecida</th>
                        <th>Valor Unitário (R$)</th>
                        <th>Faturamento Total (R$)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Conteúdo gerado pelo JavaScript -->
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Lucas Henrique</p>
            <div class="social-media">
                <span>Social Networks</span>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a href="https://github.com/"><i class="fab fa-github"></i> Github</a>
            </div>
            <div class="contact">
                <span>Contact</span>
                <p><i class="fas fa-phone-alt"></i> Phone: (19) 99263-0596</p>
                <p><i class="fas fa-envelope"></i> Email: barroslucash@gmail.com</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>
